@model webOnpeMVC.Models.TotalVotos
@{
    ViewData["Title"] = "Participación Ciudadana";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuActivo = "Participacion";
}

<div id="imprimelo3">
    <div class="container">
        <img src="~/content/images/f-participacion.jpg" width="1170" height="248" class="img-responsive mg30top" alt="Participación">

            @await Html.PartialAsync("_MenuNavegacion")
            <br /><br /><br /><br />

            <section class="contenedor">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <div class="menu-interna">
                            <ul>
                                <li><a href="@Url.Action("Index","Participacion")" class="act-izq">TOTAL</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-9" id="impreso">
                        <div class="contenido-interna">
                            <div class="titulos col-xs-12">
                                <div class="col-xs-11">
                                    <h3>
                                        <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" style="font-size:19px"></span>
                                        SEGUNDA ELECCIÓN PRESIDENCIAL 2016: PARTICIPACIÓN CIUDADANA
                                    </h3>
                                </div>
                                <div class="col-xs-1 oculto-boton-print">
                                    <button onclick="window.print()"><i class="fa fa-print ico-print"></i></button>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <p class="subtitle">ACTAS CONTABILIZADAS</p>
                                @await Html.PartialAsync("_ActasContabilizadas")
                                <br />
                            </div>

                            @if (Model != null)
                            {
                                <div class="col-xs-12 line pbot30">
                                    <div class="col-xs-12 col-md-6">
                                        <img src="~/content/images/estadistico.png" class="img-responsive" alt="Estadístico">
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <p class="subtitle">ELECTORES HÁBILES @Model.ElectoresHabiles.ToString("N0")</p>
                                            <div id="page-wrap">
                                                <table class="table09_2" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>PARTICIPACIÓN</th>
                                                            <th>AUSENTISMO</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>TOTAL: @Model.TotalAsistentes.ToString("N0")</td>
                                                            <td>TOTAL: @Model.TotalAusentes.ToString("N0")</td>
                                                        </tr>
                                                        <tr>
                                                            <td>% TOTAL: @Model.PctTotalAsistentes</td>
                                                            <td>% TOTAL: @Model.PctTotalAusentes</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="col-xs-12 pbot30 ptop20">
                                    <div class="col-xs-12 col-md-6">
                                        <a href="@Url.Action("Total","Participacion", new { ambito = "Extranjero" })">
                                            <img src="~/content/images/icono_extranjero.jpg" class="img-responsive" alt="Extranjero">
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <a href="@Url.Action("Total","Participacion", new { ambito = "Nacional" })">
                                                <img src="~/content/images/icono_nacional.jpg" class="img-responsive" alt="Nacional">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

